.navbar {
  background-color: rgba(190, 209, 228, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  color: rgb(72, 72, 212);
  border-top: 2px solid transparent;
  padding: 8px 8px 12px;
}

.navbar a.active {
  color: rgb(24, 24, 128);
  font-weight: 700;
  border-top: 2px solid rgb(24, 24, 128);
}
